body {
    background: #121212;
    color: white;
    overflow: hidden;
}

.header {
    padding: 5px;
    text-align: left;
    background: #333;
    color: white;
}
.header a {
    text-decoration: none;
    color: white;
    overflow: hidden;
}
.header h1 {
    font-size: 40px;
    margin-top: 10px;
    margin-bottom: 10px;
    margin-left: 15px;
}

.paragraph {
    line-height: 2;
}

.navbar {
    overflow: hidden;
    background-color: #333;
}
.navbar a {
    float: left;
    display: block;
    color: white;
    text-align: center;
    padding: 15px 20px;
    text-decoration: none;
    border-right: 2px solid #535353;
}
.navbar a:hover {
    background-color: #535353;
    color: #dddd;
}
.navbar a.right {
    float: right;
}
.navbar a.rightLast {
    float: right;
    border-right: none;
}

.navbar a.leftLast {
    border-right: none;
}

* {
    box-sizing: border-box;
}
.display {
    display: flex;
}

.display img.left{
    object-fit:cover;
    float: left;
    padding: 40px;
    width: 25%;
    height: 25%;
}

.display .about{
    flex: 75%;
    padding: 40px;
    width: 80%;
}

.display .about a {
    text-decoration: none;
    color: white;
}

.content img {
    padding-left: 40px;
    padding-right: 40px;
    float: left;
    height: auto;
    width: 20%;
}
.content h1 {
    padding: 10px;
    float: center;
    text-align: left;
}

.footer {
    bottom: 0;
    text-align: center;
    width: 100%;
}
.footer p{
    font-size: large;
    text-decoration: none;
    color:white;
    overflow: hidden;
}
